/* ===================================================
   CSS PARA LA PESTAÑA TIPS
   =================================================== */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

html {
  scroll-behavior: smooth; 
}

   /* FUENTES */

@font-face {
  font-family: 'LoraVariable' ;
  src: url('..//FONTS/Lora-VariableFont_wght.ttf');
  font-weight: 100 700;
  font-style: normal;
}

.fuente {
  font-family: LoraVariable;
  font-weight: 400;
}

.fuente-bold {
  font-family: 'LoraVariable';
  font-weight: 700;
}

@font-face {
  font-family: 'MontserratVariable';
  src: url('..//FONTS/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
}

.montserrat {
  font-family: 'MontserratVariable';
  font-weight: 400
}

.montserrat-bold {
  font-family: 'MontserratVariable';
  font-weight: 700;
}




/* --- PERSONALIZACIÓN DEL MODAL --- */

/* Contenedor general del modal */
.contenedor-modal-contacto {
  border-radius: 30px !important;
  padding: 20px;
  border: none !important;
}

/* Título principal */
.titulo-modal {
  color: #492868; 
}

/* Línea debajo del título */
.linea-separadora {
  border: 0;
  border-top: 1px solid #5f5f5f;
  margin: 15px 20px;
}

/* Estilos de los renglones */
.item-contacto {
  color: #492868;
  font-size: 1.3rem;
}

/* Los enlaces de correo y teléfono */
.texto-enlace {
  color: #492868;
}

.texto-enlace:hover {
  opacity: 0.8;
}

/* LOS ICONOS REDONDOS MORADOS */
.icono-contacto {
  color: #7e56a4; 
  font-size: 1.7rem; /* Tamaño del icono */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* BOTÓN CERRAR ROJO */
.btn-cerrar-modal {
  background-color: #ff3b30; 
  border: none !important;
  border-radius: 12px !important; /* Esquinas del botón */
  padding: 10px 25px !important;
  font-size: 1rem;
}

.btn-cerrar-modal:hover {
  background-color: #ce2c23 !important;
}



/* --- CONTENIDO --- */

.tips-section{
    width: 100%;
    padding: 90px 20px 40px;
    display: flex;
    justify-content: center;
}

/* ========================= */
/* CONTENEDOR */
/* ========================= */

.tips-container{
    width: 100%;
    max-width: 820px;
}

/* ========================= */
/* TEXTO */
/* ========================= */

.tips-text h2{
    font-family: 'Lora', serif;
    font-size: 3rem;
    line-height: 1.1;
    color: #7e56a4;
    margin-bottom: 30px;
    max-width: 650px;
}

.tips-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #7e56a4;
    margin-bottom: 18px;
    max-width: 650px;
    text-align: justify;
}


/* ========================= */
/* BLOQUE MORADO */
/* ========================= */

.tips-purple-section{
    width: 100%;
    background: #7c56a5;
    padding: 70px 20px;
    position: relative;
    overflow: hidden;
}


/* ========================= */
/* CONTENIDO INTERNO */
/* ========================= */

.tips-cards{
    width: 100%;
    max-width: 820px;
    margin: auto;
}

/* ========================= */
/* IMAGEN */
/* ========================= */

.tips-image img{
    width: 100%;
    height: 340px;
    object-fit: cover;
    display: block;
    margin-bottom: 60px;
    box-shadow: 0px 10px 30px rgba(27, 19, 19, 0.308); /* Sombra */
}

/* ========================= */
/* GRID */
/* ========================= */

.tips-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);  /* 2 COLUMNAS 1 FILA */
    gap: 80px;
}

/* ========================= */
/* TARJETAS */
/* ========================= */

.tip-card{
    transition: 0.3s;
}

.tip-card:hover{
    transform: translateY(-5px);
}

.tip-card h3{
    font-family: 'Lora', serif;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}

.tip-card p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    text-align: justify;
    margin-bottom: 90px;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:768px){

    .tips-text h2{
        font-size: 32px;
    }

    .tips-grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .tips-image img{
        height: 200px;
    }

}


/* ==== PIE DE PAGINA ====*/

.footer {
  background-color: #D8A7B1;
  color: white;
  padding: 40px 0;
  font-family: 'MontserratVariable';
}

.footer a {
  color: white;
  font-size: 22px;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #0b93ee;
  transform: scale(1.2);
}